*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 3rem;
}

img {
  max-width: 100%;
}

.na_prodej {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: #e7e72c;
  margin: 0;
}

section,
header {
  padding: 5px;
}
main {
  line-height: 1.7rem;
}

.vyuziti{
    background-color: #808080;
    padding: 0.5rem 0.7rem;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.2rem;
}
footer {
  background-color: #e7e72c;
  text-align: center;
  padding: 1rem 0;
  p{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  .text_seda{
    color: #808080;
  }
}

.foto {
  position: relative;
}

.popisek {
  margin: 5% 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 950px) {
  body {
    padding: 0 20%;
  }

  .foto_chalupa {
    float: left;
    margin-right: 1rem;
  }
  .inzerat img {
    width: 60%;
  }

  .foto .popisek {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 15px;
    transform: translateY(100%);
    transition: 0.3s;
  }

  .foto img {
    transition: 0.3s;
  }

  .foto:hover img {
    transform: scale(1.15);
  }

  .foto:hover .popisek {
    transform: translateY(0);
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
  }

  .foto {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
}
