*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.logo {
  display: block;
  img {
    margin: 0 auto;
    max-width: 50%;
    padding-left: 1rem;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
  font-size: 3rem;
}

img {
  max-width: 100%;
}

.na_prodej {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: #e7e72c;
  margin: 0;
}

section,
header {
  padding: 5px;
}
main {
  line-height: 1.7rem;
}
.nadpis {
  &::after {
    content: "";
    width: 5rem;
    display: block;
    border-top: 3px solid #e7e72c;
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
}

.vyuziti {
  background-color: #808080;
  padding: 0.5rem 0.7rem;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1.2rem;
}
.kontakty {
  background-color: #e7e72c;
  text-align: center;
  padding: 1rem 0;
  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  .text_seda {
    color: #808080;
  }
}

.foto {
  position: relative;
}

.popisek {
  margin: 5% 0;
  color: #1a1919;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.kontakty_sluzby {
  background-color: #808080;
  color: #ffffff;
  text-align: center;
  h2{
    text-align: left;
    padding-left: 0.5rem;
    &::after {
      content: "";
      width: 5rem;
      display: block;
      border-top: 3px solid #e7e72c;
      margin-top: 1rem;
    }
  }
  &__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    list-style-type: georgian;
  }
}

footer {
  background-color: #e7e72c;
  text-align: center;
  padding: 1rem 0;
  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
}

@media (min-width: 950px) {
  body {
    padding: 0 20%;
  }
  .logo {
    img {
      max-width: 20%;
    }
  }
  
  .foto_chalupa {
    float: left;
    margin-right: 1rem;
  }
  .inzerat img {
    width: 60%;
  }

  .foto .popisek {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 10px 15px;
    transform: translateY(100%);
    transition: 0.3s;
  }
  .popisek {
    color: #ffffff;
  }

  .foto img {
    transition: 0.3s;
  }

  .foto:hover img {
    transform: scale(1.15);
  }

  .foto:hover .popisek {
    transform: translateY(0);
  }

  .galerie {
    display: flex;
    flex-wrap: wrap;
  }

  .foto {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
}
